.container {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem 0.5rem;
  background-color: rgba(246, 245, 245, 0.5);
  border-radius: 10px;
  margin-top: 0.5rem;
}
.text {
  font-size: 14px;
  width: 40%;
  align-self: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.input {
  width: 60%;
  border: none;
  background-color: transparent;
}
.input:focus {
  outline: none;
}
